In [48]:
# Importing California Housing Price DataSet

import pandas as pd
import numpy as np


chpd = pd.read_csv('raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv')
df =chpd.copy()

In [49]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [50]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [51]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [52]:
df.median_house_value

0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20640, dtype: float64

In [53]:
df.shape

(20640, 10)

In [54]:
df = df[df['ocean_proximity'] == 'INLAND']
print(df.head(5))
del df['ocean_proximity']
df.head(5)

     longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
954    -121.92     37.64                46.0       1280.0           209.0
957    -121.90     37.66                18.0       7397.0          1137.0
965    -121.88     37.68                23.0       2234.0           270.0
967    -121.88     37.67                16.0       4070.0           624.0
968    -121.88     37.67                25.0       2244.0           301.0

     population  households  median_income  median_house_value ocean_proximity
954       512.0       208.0         5.1406            315600.0          INLAND
957      3126.0      1115.0         6.4994            323000.0          INLAND
965       854.0       286.0         7.3330            337200.0          INLAND
967      1543.0       577.0         6.5214            311500.0          INLAND
968       937.0       324.0         6.4524            296900.0          INLAND

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
954,-121.92,37.64,46.0,1280.0,209.0,512.0,208.0,5.1406,315600.0
957,-121.90,37.66,18.0,7397.0,1137.0,3126.0,1115.0,6.4994,323000.0
965,-121.88,37.68,23.0,2234.0,270.0,854.0,286.0,7.3330,337200.0
967,-121.88,37.67,16.0,4070.0,624.0,1543.0,577.0,6.5214,311500.0
968,-121.88,37.67,25.0,2244.0,301.0,937.0,324.0,6.4524,296900.0

In [55]:
df.isnull().sum()

longitude              0
latitude               0
housing_median_age     0
total_rooms            0
total_bedrooms        55
population             0
households             0
median_income          0
median_house_value     0
dtype: int64

In [56]:
df.population.describe()['50%']

1124.0